* {
  font-family: "Spartan", sans-serif;
  overflow-x: hidden;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  font-weight: 600;
  font-size: 14px;
}

.owl-carousel .owl-stage-outer {
  height: 394px;
}

.owl-carousel {
  height: 500px;
}
.owl-carousel img {
  height: 400px;
}

#owl-demo .item {
  margin: 3px;
}

#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}

.custom-img img {
  width: 777px;
}
